.converter__form {
  margin-top: 45px;

  .form__group {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;

    .form__label {
      color: #fff;
      font-weight: 500;
      display: block;
      margin-bottom: 9px;
      font-size: 1rem;
    }

    .form__input {
      min-height: 48px;
      outline: none;
      padding: 0 5px;
      color: #fff;
      border-radius: 6px;
      background-color: rgb(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .error {
      color: rgba(255, 0, 0, 0.584);
      font-size: 1rem;
      margin-top: 5px;
    }
  }

  .form__group_currency {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .swap-icon {
      height: 40px;
      width: 40px;
      margin-top: 25px;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 0.2 ease;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .submit-button {
    width: 100%;
    min-height: 52px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &.loading {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  .exchange-rate-result {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 25px 0;
    margin-top: 30px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.15);
  }
  
}