@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

#root {
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(bg.jpg) #030728 no-repeat center;
}

.currency-converter {
  margin: 0 auto;
  padding: 40px 30px 50px;
  border-radius: 8px;
  max-width: 410px;
  backdrop-filter: blur(30px);
  background-color: rgb(2, 7, 40, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
}

.converter__title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.converter__form {
  margin-top: 45px;
}

.converter__form .form__group {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
}

.converter__form .form__group .form__label {
  color: #fff;
  font-weight: 500;
  display: block;
  margin-bottom: 9px;
  font-size: 1rem;
}

.converter__form .form__group .form__input {
  min-height: 48px;
  outline: none;
  padding: 0 5px;
  color: #fff;
  border-radius: 6px;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.converter__form .form__group_currency {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form__group_currency .currency-select {
  display: flex;
  padding: 0 10px;
  min-height: 45px;
  align-items: center;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.form__group_currency .currency-select img {
  width: 25px;
}

.form__group_currency .currency-select .currency-dropdown {
  outline: none;
  border: none;
  background: none;
  color: #fff;
  font-weight: 500;
  padding: 0 10px 0 5px;
}

.form__group_currency .currency-select .currency-dropdown option {
  color: #000;
  font-weight: 500;
}

.form__group_currency .swap-icon {
  height: 40px;
  width: 40px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2 ease;
}

.form__group_currency .swap-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}

.converter__form .submit-button {
  width: 100%;
  min-height: 52px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.converter__form .submit-button.loading {
  opacity: 0.8;
  pointer-events: none;
}

.converter__form .submit-button:hover {
  background: rgba(255, 255, 255, 0.8);
}

.converter__form .exchange-rate-result {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  padding: 25px 0;
  margin-top: 30px;
  border-radius: 6px;
  letter-spacing: 0.5px;
  background: rgba(255, 255, 255, 0.15);
}